<?php
define('WP_SITEURL','http://{domain});
define('WP_HOME','http://{domain});

/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{domain}');

/** MySQL database username */
define('DB_USER', 'root');

/** MySQL database password */
define('DB_PASSWORD', 'wybzd1234');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '&;G*}EGsF7YN~@W#-[z9x_G ~%ulOfZ|$H6|,zqAA[D8bJ-n|cgEp8y3xH<Hl0qY');
define('SECURE_AUTH_KEY',  'W~2%mdSa7KLaWi~OYRC!.<a4X>/]G38C=FPd~oQaIGc5j9WXvn$|hRb$_gDxi*p-');
define('LOGGED_IN_KEY',    '_9eqh9s2+/&K]i8{KcH>X>+iPEv@qAeb94WS8=$fBR6dF[<OL|5/Nw|n?+dYbOCd');
define('NONCE_KEY',        '<m</nC4xF$ZUV~t`;|RrHjeVs|7V)WT]FCpeNPmLS`W/^73~hM)-Bh0Y)csVZLoK');
define('AUTH_SALT',        'M9;m_A#ur&&nT9xyg<nwFTu>3@(uf-L{:TlI<&UJ&_b9y-<:|:dtt8q!ikW*#(!S');
define('SECURE_AUTH_SALT', 'j{01RM_)]$`aR*8R%_Z.I&9Xf^8)hTze~BclE92dkVI@P ;Sb=@6@Gp1`c`%P~W+');
define('LOGGED_IN_SALT',   '[+<Q_GCK=acy,GEyG|(jwYRZzUG|sI1[@h5p,H+PZu+SB6#ADU-L/N<+K-aF2t-+');
define('NONCE_SALT',       't.SM]_d{mp|..u/q2.Q9pETkU8Evc)i7:g.HU-5d&klUmyl%Ot{a!wNAVN1|g<b]');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp1_';

/**
 * WordPress Localized Language, defaults to English.
 *
 * Change this to localize WordPress. A corresponding MO file for the chosen
 * language must be installed to wp-content/languages. For example, install
 * de_DE.mo to wp-content/languages and set WPLANG to 'de_DE' to enable German
 * language support.
 */
define('WPLANG', '');

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');

