<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UamWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UamWebService.Properties.Settings>
            <setting name="UamWebService_imcPlat_imcplatService" serializeAs="String">
                <value>http://127.0.0.1:8080/imcws/services/imcplatService/</value>
            </setting>
            <setting name="UamWebService_imcPlatUser_imcplatUserService"
                serializeAs="String">
                <value>http://127.0.0.1:8080/imcws/services/imcplatUserService/</value>
            </setting>
            <setting name="UamWebService_fee_feeService" serializeAs="String">
                <value>http://127.0.0.1:8080/imcws/services/feeService/</value>
            </setting>
            <setting name="UamWebService_damAsset_damAssetService" serializeAs="String">
                <value>http://192.168.64.1:8080/imcws/services/damAssetService/</value>
            </setting>
            <setting name="UamWebService_acmUser_acmUserService" serializeAs="String">
                <value>http://192.168.64.1:8080/imcws/services/acmUserService/</value>
            </setting>
        </UamWebService.Properties.Settings>
    </applicationSettings>
</configuration>